@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	
}

#main {
	background-color: #d5e800;
	font-size: 30px;
	margin-top: 70px;
	margin-left: 150px;
	margin-right: 150px;
	text-align: right;
	float:none;
	height: 60px;
}

#what {
	margin-left: 150px;
	margin-right: 150px;
	text-align: right;
	color: #333;
	font-size: 16px;
}

#face {
	margin-left: 150px;
	margin-right: 150px;
	text-align: right;
	color: #333;
	font-size: 16px;
}

#vplayer {
	margin-left: 152px;
	margin-top: 50px;
	float: left;
	  	  
}


#like {
	margin-left: 130px;
	margin-top: 10px;
	float: left;
	
}

#sign {
	margin-top: 60px;
	float: right;
	padding: 30px;
	padding-right: 190px;
	
}

#emailform {
	margin-top: 0px;
	margin-right: 50px;
	float: right;
	padding: 20px;
}

#yplayer {
	float: left;
	margin-left: 73px;
	padding-left: 80px;
	padding-top: 40px;
}
		
		

    
