@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Geneva, sans-serif;	
}

h1 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-weight:lighter;
	font-size: 89px;
	line-height: 60px;
	color: #333;
} 
p {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;	
	line-height: 25px;
	margin-top: 15px;
}
span{
	font-family: 'Dancing Script', Georgia, Times, serif;
	color: #FC0;
	line-height: 25px;
	margin-top: 15px;
}
#main {
	margin-top: 70px;
	margin-left: 150px;
	margin-right: 150px;
	text-align: center;
	float:none;
	height: 60px;
	font-size: 28px;
}

#what {
	margin-left: 150px;
	margin-right: 150px;
	text-align: right;
	color: #333;
	font-size: 16px;
}

#face {
	margin-left: 150px;
	margin-right: 150px;
	text-align: right;
	color: #333;
	font-size: 16px;
}

#vplayer {
	margin-left: 152px;
	margin-top: 50px;
	float: left;
	  	  
}


#like {
	margin-left: 130px;
	margin-top: 10px;
	float: left;
	
}

#sign {
	margin-top: 150px;
	float: right;
	padding: 30px;
	padding-right: 190px;
	font-size: 18px;
	text-align: center;
	
}

#emailform {
	margin-top: 0px;
	margin-right: 50px;
	float: right;
	padding: 20px;
}

#yplayer {
	float: left;
	margin-left: 73px;
	padding-left: 100px;
	padding-top: 150px;
}
div#notice {
	padding: 5px 0;
	margin: 0 150px;
	text-align: center;
	color: #333;
	background: #eceff0;
}
		
		

    
